body {
  padding: 0;
  margin: 0;
  max-width: 640px;
  min-width: 340px;
  -webkit-tap-highlight-color: transparent; }
  body #cg-nav {
    z-index: 1000;
    background: url(../images/header-bg.png) repeat-x;
    background-size: 1px 44px;
    height: 44px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;
    position: fixed; }
    body #cg-nav .icon-back {
      background: url(../images/sprites.png) no-repeat;
      background-position: -20px 0;
      background-size: 200px 200px;
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      left: 10px;
      top: 0;
      margin-top: 13px; }
    body #cg-nav form {
      padding: 0 42px; }
      body #cg-nav form input {
        margin-top: 7px;
        height: 32px;
        width: 100%;
        border-radius: 5px;
        outline: none;
        border: 1px solid #c0c0c0;
        padding-left: 5px; }
    body #cg-nav .icon-menu {
      margin-top: 13px;
      background: url(../images/sprites.png) no-repeat;
      background-position: -60px 0;
      background-size: 200px 200px;
      display: block;
      height: 20px;
      width: 20px;
      position: absolute;
      right: 10px;
      top: 0; }
  body #cg-content {
    padding-top: 45px;
    position: relative; }
    body #cg-content .content-left {
      position: absolute;
      width: 90px; }
      body #cg-content .content-left ul {
        margin: 0;
        padding: 0; }
        body #cg-content .content-left ul li {
          font-size: 12px;
          background-color: #f3f4f6;
          list-style: none;
          text-align: center;
          height: 50px;
          line-height: 50px;
          border-right: 1px solid #e0e0e0;
          border-bottom: 1px solid #e0e0e0; }
          body #cg-content .content-left ul li.now {
            border-right: none;
            background-color: white; }
            body #cg-content .content-left ul li.now a {
              color: #f15353; }
          body #cg-content .content-left ul li a {
            text-decoration: none;
            color: #666; }
    body #cg-content .content-right {
      padding: 12px 10px 12px 100px; }
      body #cg-content .content-right .r-header a img {
        width: 100%; }
      body #cg-content .content-right .r-body .body-header {
        color: #888; }
      body #cg-content .content-right .r-body .body-body {
        font-size: 14px;
        text-align: center; }
        body #cg-content .content-right .r-body .body-body ul {
          margin: 0;
          padding: 0; }
          body #cg-content .content-right .r-body .body-body ul:after {
            content: "";
            display: block;
            clear: both; }
          body #cg-content .content-right .r-body .body-body ul li {
            float: left;
            width: 33.33%;
            list-style: none; }
            body #cg-content .content-right .r-body .body-body ul li a {
              text-decoration: none;
              color: #666; }
