$jd-text-black:#666;
$jd-text-red:#d8505c;
$jd-line-black:#e0e0e0;

body{
    margin: 0;
    padding: 0;
    max-width: 640px;
    min-width: 340px;
    -webkit-tap-highlight-color: transparent;
    header{
        z-index: 1;
        width: 100%;
        height: 40px;
        background-color: rgba(201,21,35,0.15);
        position: fixed;
        .jd-icon{
            background: url(../images/sprites.png) no-repeat;
            background-size: 200px 200px;
            background-position: 0 -103px;
            width: 60px;
            height: 36px;
            display: block;
            position: absolute;
            top: 4px;
            margin-left: 10px;
        }
        .jd-search{
            padding-left: 70px;
            padding-right: 57px;
            position: relative;
            span{
                background: url(../images/sprites.png) no-repeat;
                background-size: 200px 200px;
                background-position: -60px -109px;
                width: 20px;
                height: 20px;
                display: block;
                position: absolute;
                top: 10px;
                left: 85px;
            }
            input{
                outline: none;
                -webkit-appearance: none;
                -webkit-tap-highlight-color: transparent; 
                border: none;
                padding-left: 38px;
                margin-top: 5px;
                height: 30px;
                border-radius: 15px;
                width: 100%;
                margin-right: 60px;
            }
        }
        .jd-loading{
            position: absolute;
            text-decoration: none;
            color: white;
            top: 8px;
            right: 11px;
        }
    }    
    #jd-carousel{
        ul{
            padding: 0;
            margin: 0;
            li{
                list-style: none;
                img{
                    background-position: center;
                    width: 100%;
                }
            }
        }
    }
    #jd-nav{
        ul{
            width: 100%;
            padding: 0;
            margin: 0;
            border-bottom: 1px solid $jd-line-black;
            padding-top: 10px;
            li{
                width: 24%;
                display: inline-block;
                list-style: none;
                text-align: center;
                a{
                    text-decoration: none;
                }
                img{
                    height: 40px;
                    width: 40px;
                }
                p{
                    margin-top: 0;
                    font-size: 12px;
                    color: $jd-text-black;
                }
            }
        }
    }
    #jd-content{
        background-color: #f5f5f5;
        padding: 10px;
        #seckill{
            box-shadow: 0 0 1px 1px $jd-line-black;
            background-color: white;
            padding: 0 10px;
            padding-bottom: 10px;
            .sk-header{
                height: 32px;
                .sk-header-text{
                    font-size: 15px;
                    color: $jd-text-red;
                    margin-top: 6px;
                    margin-left: 10px;
                }
                a{
                    float: right;
                    margin-top: 6px;
                }
                div{
                    .bg-black{
                        padding-left: 2px;
                        padding-right: 2px;
                        text-align: center;
                        background-color: black;
                        color: white;
                    }
                    span:first-child{
                        margin-top: 6px;
                        margin-left: 10px;
                    }
                    span:not(:first-child){
                        margin-top: 6px;
                        margin-left: 3px;
                    }
                }
                span{
                    float: left;
                    img{
                        height: 20px;
                        width: 16px;
                        margin-top: 6px;
                    }
                }
            }
            .sk-body{
                margin-top: 10px;
                ul{
                    padding: 0;
                    margin: 0;
                    &::after{
                        content: "";
                        display: block;
                        clear: both;
                    }
                    width: 100%;
                    li{
                        float: left;
                        text-align: center;
                        width: 33.33%;
                        list-style: none;
                        &:last-child{
                            a{
                                div{
                                    &:first-child{
                                        border-right: none;
                                    }
                                }
                            }
                        }
                        a{
                            font-size: 13px;
                            text-decoration: none;
                            color: $jd-text-black;
                            .body-text{
                                color: $jd-text-red;
                            }
                            .body-cancel{
                                color: #888;
                                text-decoration:line-through;
                            }
                            div{
                                margin-top: 5px; 
                                &:first-child{
                                    border-right: 1px solid $jd-line-black;
                                }
                                img{
                                    width: 64%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #super-shopping{
        box-shadow: 0 0 1px 1px $jd-line-black;
        background-color: white;
           padding-top: 10px;
        margin-top: 10px;
        .shop-header{
            padding-left: 6px;
            height: 20px;
            line-height: 20px;
            margin-left: 10px;
            border-left: 4px solid $jd-text-red;
            margin-bottom: 10px;
        }
        .shop-body{
            width: 100%;
            height:100%;
            border-top: 1px solid $jd-line-black;
            &:after{
                content: "";
                display: block;
                clear: both;
            }
            .shop-body-left{
                float: left;
                width: 50%;
                position: relative;
                &::after{
                    content: "";
                    width: 1px;
                    height: 100%;
                    position: absolute;
                    display: block;
                    background-color: $jd-line-black;
                    top: 0;
                    right: 0;
                }
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .shop-body-right{
                float: left;
                width: 50%;
                height: 100%;
                div{
                    height: 50%;
                    width: 100%;
                    img{
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
                .sbr-bottom{
                    position: relative;
                    &::after{
                        content: "";
                        height: 1px;
                        width: 100%;
                        position: absolute;
                        display: block;
                        background-color: $jd-line-black;
                        top: 0;
                        right: 0;
                    }
                }
            }
        }
    }
}
